= render partial: "groups/chat_user"
.chat-screen
  .chat-screen__group{:clearfix => ""}
    .group-name
      = @group.group_name
      .chat_users
        %h2 Members:
        - @group.users.each do |user|
          = user.name
    .edit
      = link_to edit_group_path(@group) do
        %input#edit_button{:name => "edit", :type => "edit", :value => "edit"}/
  .chat-screen__messages
    - if @messages
      %ul.messages
        - @messages.each do |message|
          %li.message
            .user_name
              = message.user.name
            .message_body
              = message.body
          - if message.image.url.present?
            .message_body
              = image_tag message.image.url
  .chat-screen__submit
    = form_for [@group, @message], html: { class: 'send-message' } do |f|
      .message
        = f.text_field :body, placeholder: 'type a message', class: "input_message"
        .image
          = f.file_field :image, class: "input_image"
          %i.fa.fa-picture-o
      .send
        = f.submit :send, class: 'input_message'