.chat-group-form
  %h1 チャットグループ編集
  = form_for @group, html: { class: 'edit-group' } do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :グループ名, class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :group_name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加名, class: "chat-group-form__label"
      .chat-group-form__field--right
        %input.chat-users-form{name: "keyword", placeholder: "追加したいメンバーを入力してください", type: "text", value: ""}/
        %p.results
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバー, class: "chat-group-form__label"
      .chat-group-form__field--right
        %ul
        - @group.users.each do |user|
          %li.users.clearfix
            %input#users-btn{type: "hidden", name: "group[user_ids][]", value: user.id }
            .users__name
              = user.name
            %a#remove-user__btn{'data-id': user.id } 削除
            / %hr.users__line
          .add-users.clearfix
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit :送信, class: "chat-group-form__action-btn"
